body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #000080;
  }
  
  header {
    background-color: #e6f2ff;
    padding: 20px;
    text-align: left;
  }
  
  .header-content {
    display: flex;
    align-items: center;
  }
  
  header img {
    width: 50px;
    height: auto;
    margin-right: 20px;
  }
  
  header h1 {
    font-size: 2em;
    margin: 0;
  }
  
  nav {
    background-color: #ffffff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  nav h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style-type: disc;
    padding: 0;
    margin: 0;
    padding-left: 20px;
  }
  
  nav li {
    margin-bottom: 5px;
  }
  
  nav a {
    text-decoration: none;
    color: #000080;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 20px;
    line-height: 1.6;
  }
  
  main h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  main h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  main p {
    font-size: 1em;
  }
  
  footer {
    background-color: #e6f2ff;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    font-size: 0.8em;
  }
  
  .multiplication-table {
    border-collapse: collapse;
    margin: 20px auto;
  }
  
  .multiplication-table th,
  .multiplication-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }

  .back-link {
    color: #000080;
    text-decoration: none;
    font-weight: bold;
  }
  
  .back-link:hover {
    text-decoration: underline;
  }

  .header-content {
    padding: 10px;
    background-color: #e6f2ff; 
    text-align: left;
  }